fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
python-dotenv
pydantic-settings
firebase-admin

langchain-groq
langchain-core
pydantic-settings
python-dotenv
langgraph

langchain-google-genai
langsmith
pytest
pytest-asyncio
redis